PYTHON TEST - 1

1) Program to print a multiplication table.

In [1]:
num=int(input("Enter the number:"))
for i in range(1,11): 
    mul=num*i
    print(f"{num}*{i}={mul}")

5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

Alternative method 1

In [5]:
num = int(input("Enter the number: "))
count = 0
while count < 11:
    mul = num * count
    print(f"{num} * {count} = {mul}")
    count = count + 1

5 * 0 = 0
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

Alternative Method 2

In [6]:
def mul(a,b):
    a=int(input("Enter the number 1:"))
    b=int(input("Enter the number 2:"))
    multiply=a*b
    return multiply

In [9]:
mul('a','b')

24

2) List2 = [3,6,9,1,5,7] .Find the length of the list without using any built in functions.

In [15]:
List2=[3,6,9,1,5,7]
length=0
for i in List2:
    length += 1
print(length)

6

Alternative method

In [1]:
from collections import Counter

In [7]:
List2=[3,6,9,1,5,7]
length=sum(Counter(List2).values())
print(length)

6

3) List1=[22,45,”python”,21,”sample”] . 
Add 20 in the above list and sum all the integers in the list without using the sum function.

In [29]:
List1=[22,45,"python",21,"sample"]
List1.append(20)
print(List1)

[22, 45, 'python', 21, 'sample', 20]

In [32]:
sum=0
for i in List1:
    if type(i)==int:
        sum=sum+i
print(sum)

108

Alternative method

In [35]:
List1=[22,45,"python",21,"sample"]
List1.append(20)
a=[x for x in List1 if type(x)==int]
sum=0
for i in a:
    sum=sum+i
print(sum)

108

4) Find the given output, from the following dictionaries
     set1 = {'Ajith' : 12, 'Balu' : 20, 'chinnu' : 10 } 
     set2 = {'David' : 16, 'Eshwar' : 08, 'Frank' : 18} 
     output = [08,10,12,16,18,20]

In [37]:
set1 = {'Ajith' : 12, 'Balu' : 20, 'chinnu' : 10 }
set2 = {'David' : 16, 'Eshwar' :8, 'Frank' : 18}

In [42]:
a=set1|set2
val=dict.values(a)
print(sorted(val))

[8, 10, 12, 16, 18, 20]

Alternative method

In [11]:
set1 = {'Ajith' : 12, 'Balu' : 20, 'chinnu' : 10 }
set2 = {'David' : 16, 'Eshwar' :8, 'Frank' : 18}

set3=list(set1.values())+list(set2.values())
# print(set3)
set3.sort()
print(set3)

[12, 20, 10, 16, 8, 18]
[8, 10, 12, 16, 18, 20]

Alternative method 2

In [12]:
set1 = {'Ajith' : 12, 'Balu' : 20, 'chinnu' : 10 }
set2 = {'David' : 16, 'Eshwar' :8, 'Frank' : 18}

a=set1|set2
output=[x for x in a.values()]
print(sorted(output))

[8, 10, 12, 16, 18, 20]

5) solve the following problems
(i)Remove the first value of tuples from list1... 
list1 = [12,1,3,34,5,6,78,(12,34),323,545,'call',23,'cut',('end','call'),2111,43]

In [70]:
list1 = [12,1,3,34,5,6,78,(12,34),323,545,'call',23,'cut',('end','call'),2111,43]
for i in range(len(list1)):
    if type(list1[i])==tuple:
        r=list1[i][1:]
        list1[i]=r
print(list1)

[12, 1, 3, 34, 5, 6, 78, (34,), 323, 545, 'call', 23, 'cut', ('call',), 2111, 43]

Alternative way

In [13]:
list1 = [12,1,3,34,5,6,78,(12,34),323,545,'call',23,'cut',('end','call'),2111,43]
output=[x[1:] if type(x)==tuple else x for x in list1]
print(output)

[12, 1, 3, 34, 5, 6, 78, (34,), 323, 545, 'call', 23, 'cut', ('call',), 2111, 43]

6) l=[1,2,3,4]
    s=["s","d","w"]
    Output: {'s': [1, 2, 3, 4], 'd': [1, 2, 3, 4], 'w': [1, 2, 3, 4]}

In [81]:
l=[1,2,3,4]
s=["s","d","w"]
details=dict()
details.fromkeys(s,l)

{'s': [1, 2, 3, 4], 'd': [1, 2, 3, 4], 'w': [1, 2, 3, 4]}

Alternative method

In [31]:
l=[1,2,3,4]
s=["s","d","w"]
d={}
for i in s:
    d[i]=l
print(s)

['s', 'd', 'w']


7) Write a loop to display a number series with 20 numbers, from 7 and the difference between them is 8, and to filter out three middle values in the series. (The number series should have 23 numbers, starting from 7 and the difference between them is 8, but without the middle values of 11, 12, 13 sequence of numbers).

In [85]:
res=[]
for i in range(7,185,8):
    res.append(i)
print(res)

[7, 15, 23, 31, 39, 47, 55, 63, 71, 79, 87, 95, 103, 111, 119, 127, 135, 143, 151, 159, 167, 175, 183]

In [86]:
del res[10]
del res[10]
del res[10]
print(res)

[7, 15, 23, 31, 39, 47, 55, 63, 71, 79, 111, 119, 127, 135, 143, 151, 159, 167, 175, 183]

Alternative method 1

In [88]:
res=[i for i in range(7,185,8)]
res=res[:10]+res[13:]
print(res)

[7, 15, 23, 31, 39, 47, 55, 63, 71, 79, 111, 119, 127, 135, 143, 151, 159, 167, 175, 183]

Alternative method 2

In [92]:
res=[]
num=7
for i in range(23):
    res.append(num)
    num+=8
print(res)

[7, 15, 23, 31, 39, 47, 55, 63, 71, 79, 87, 95, 103, 111, 119, 127, 135, 143, 151, 159, 167, 175, 183]

In [93]:
res=res[:10]+res[13:]
print(res)

[7, 15, 23, 31, 39, 47, 55, 63, 71, 79, 111, 119, 127, 135, 143, 151, 159, 167, 175, 183]

8)Print Prime numbers up to the given input.

In [34]:
num=int(input("Enter num:"))
for i in range(2,num+1):
        c=0
        for j in range(2,i):
            if i%j==0:
                c+=1
                break
        if c==0:
            print(i)

2
3
5
7
11
13
17
19

9) Write a Python program to write a text file and read that file.

In [24]:
with open("demo.txt","w") as file:
    file.write("Swetha is practicing python")

In [25]:
with open("demo.txt","r") as f:
    f1=f.read()
    print(f1)

Swetha is practicing python

10)Pyhton program to calculate the sum of three given numbers,
	if the values are equal then return its cube of their number.

In [1]:
val1=int(input("Enter the number1:"))
val2=int(input("Enter number2:"))
val3=int(input("Enter number3:"))
if val1==val2==val3:
    print(val1**3)
else:
    print(val1+val2+val3)

1728

Alternative method

In [5]:
def func():
    if val1==val2==val3:
        print(val1**3)
    else:
        print(val1+val2+val3)

In [6]:
val1=int(input("Enter the number1:"))
val2=int(input("Enter number2:"))
val3=int(input("Enter number3:"))
func()

1728

11)Python Program to find Leap year.

In [16]:
year=int(input("Enter the year:"))
if year%4==0 and year%100!=0:
    print(f"{year} is a leap year")
elif year%400==0 and year%100==0:
    print(f"{year} is a leap year")
else:
    print(f"{year} is not a leap year")

2020 is a leap year

Alternative method

In [17]:
def leap_year():
    if year%4==0 and (year%400==0 or year%100!=0):
        print(f"{year} is a leap year")
    else:
        print(f"{year} is not a leap year")

In [18]:
year=int(input("Enter the year:"))
leap_year()

2000 is a leap year

Alternative method 2

In [19]:
leap_year=lambda year:(year%4==0)and (year%400==0 or year%100!=0)
year=int(input("Enter the year:"))
if leap_year(year):
    print("It is a leap year")
else:
    print("It is not a leap year")

It is a leap year

12)Python program to Print unique values in the list.
	list=[1,2,2,3,3,3,4,4,5,5]
	output=[1,2,,3,4,5]

In [21]:
list1=[1,2,2,3,3,3,4,4,5,5]
output=set(list1)
print(list(output))

[1, 2, 3, 4, 5]

Alternative method

In [28]:
list1=[1,2,2,3,3,3,4,4,5,5]
unique=[]
for i in list1:
    if i not in unique:
        unique.append(i)
print(unique)

[1, 2, 3, 4, 5]

Alternative method 2

In [31]:
list1=[1,2,2,3,3,3,4,4,5,5]
unique=list(dict.fromkeys(list1))
print(unique)

[1, 2, 3, 4, 5]

13)Find all prime number in an interval of (900,1000).

In [32]:
for i in range(900,1001):
    if i>1:
        for j in range(2,i):
            if i%j==0:
                break
        else:
            print(i)

907
911
919
929
937
941
947
953
967
971
977
983
991
997

Alternative method

In [4]:
for i in range(900,1000):
    count=0
    for j in range(2,i):
        if i%j==0:
            count+=1
            break
    if count==0:
        print(i)

907
911
919
929
937
941
947
953
967
971
977
983
991
997

14)Find the given output from the input using slicing
	Input=('a','b','c','d','e','f','g','h')
	output=('a', 'c', 'e')

In [33]:
Input=('a','b','c','d','e','f','g','h')
Input[0:5:2]

('a', 'c', 'e')

In [10]:
Input=('a','b','c','d','e','f','g','h')
output=tuple(filter(lambda x:Input.index(x)%2==0,Input))
print(output[:-1:1])

('a', 'c', 'e')

15)Write a String Formatting program 
	list=["apple","ORANGE","mango"]
	OUTPUT= result 1 is APPLE
		result 2 is orange
		result 3 is Mango

In [43]:
list1=["apple","ORANGE","mango"]
print("result 1 is",list1[0].upper())
print("result 2 is",list1[1].lower())
print("result 3 is",list1[2].title())

result 1 is APPLE
result 2 is orange
result 3 is Mango

Alternative method

In [11]:
list1=["apple","ORANGE","mango"]
for i in range(len(list1)):
    print(f"result {i+1} is",list1[i].swapcase())

result 1 is APPLE
result 2 is orange
result 3 is MANGO

16)Python program to merge two python dictionaries

In [51]:
set1 = {'Ajith' : 12, 'Balu' : 20, 'chinnu' : 10 }
set2 = {'David' : 16, 'Eshwar' :8, 'Frank' : 18}
output=set1|set2
print(output)

{'Ajith': 12, 'Balu': 20, 'chinnu': 10, 'David': 16, 'Eshwar': 8, 'Frank': 18}

Alternative method

In [59]:
def merge_dict(set1,set2):
    return (set1.update(set2))

In [65]:
set1 = {'Ajith' : 12, 'Balu' : 20, 'chinnu' : 10 }
set2 = {'David' : 16, 'Eshwar' :8, 'Frank' : 18}
print(merge_dict(set1,set2))
print(set1)

None
{'Ajith': 12, 'Balu': 20, 'chinnu': 10, 'David': 16, 'Eshwar': 8, 'Frank': 18}

Alternative method 2

In [13]:
set1 = {'Ajith' : 12, 'Balu' : 20, 'chinnu' : 10 }
set2 = {'David' : 16, 'Eshwar' :8, 'Frank' : 18}
for key,values in set2.items():
    set1[key]=values
print(set1)

{'Ajith': 12, 'Balu': 20, 'chinnu': 10, 'David': 16, 'Eshwar': 8, 'Frank': 18}

17)Python program to concatenate all Elements of a List into a String Using list comprehension
	Input=["All","the","best"]
	output= All the best.

In [66]:
Input=["All","the","best"]
a= ' '.join([x for x in Input ])
print(a)

All the best

Alternative method

In [15]:
Input=["All","the","best"]
print(' '.join(Input))

All the best

18)write a factorial program.

In [67]:
n=int(input("Enter the number:"))
fact=1
for i in range(1,n+1):
    fact *= i
print(fact)

120

Alternative method

In [17]:
def fact(n):
    if n==0:
        return 1
    else:
        return n*fact(n-1)
print(fact(5))

120

19)Python program to find file exist or not.

In [ ]:
import os
path=''
print(os.path.exists(path))

20)Write a Python program to reverse a string without using slicing.

In [68]:
str1=input("Enter the string:")
str2=""
for i in str1:
    str2=i+str2
print(str2)

ahtewS

Alternative method

In [23]:
str1=input("Enter the string:")
str2=""
for i in range(len(str1)-1,-1,-1):
    str2+=str1[i]
print(str2)

ahtewS

21) Double the each value in the given dictionary by using comprehension method
	dict1 = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
	-->output= {'a': 2, 'b': 4, 'c': 6, 'd': 8, 'e': 10}

In [40]:
dict1 = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
dict2=dict1.keys()
a={i*2 for i in dict1.values()}
dict(zip(dict2,a))

{'a': 2, 'b': 4, 'c': 6, 'd': 8, 'e': 10}

Alternative method

In [53]:
dict1 = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
dict_key=dict1.keys()
output={i:dict1[i]*2 for i in dict_key}
print(output)

{'a': 2, 'b': 4, 'c': 6, 'd': 8, 'e': 10}

22) Find the given output from the input 								- 4
	list1=[1,2,2,3,3,3,4,4,4,4,4,5,5,5,5,5]
	-->Output={1:1,2:2,3:3,4:4.5:5}

In [66]:
list1=[1,2,2,3,3,3,4,4,4,4,4,5,5,5,5,5]
count={}
for i in list1:
    if i in count:
        count[i]+=1
    else:
        count[i]=1
print(count)

{1: 1, 2: 2, 3: 3, 4: 5, 5: 5}

Alternative method

In [68]:
list1=[1,2,2,3,3,3,4,4,4,4,4,5,5,5,5,5]
output={x:list1.count(x) for x in list1}
print(output)

{1: 1, 2: 2, 3: 3, 4: 5, 5: 5}

23) write a factorial program using recursive function

In [69]:
def factorial(n):
    if n==0:
        return 1
    else:
        return n*factorial(n-1)

In [70]:
factorial(5)

120

24) Write a program without using string formatting 							
	directories = ['root', 'home', 'user', 'documents']
	-->output=root/home/user/documents

In [76]:
directories=["root","home","user","documents"]
output="/".join(directories)
print(output)

root/home/user/documents

Alternative method

In [80]:
directories=["root","home","user","documents"]
output=""
for i in directories:
    output+= i+'/'
print(output.rstrip('/'))

root/home/user/documents

25) Create a csv file with following content and  
Read the CSV file and print only those rows that has level = Good 					- 8
		
		Language,level
		Python,Good
		Sql,Intermediate
		Angular,Basics

In [81]:
import csv

In [82]:
header=["language","level"]
rows=[["Python","Good"],["SQL","Intermediate"],["Angular","Basics"]]
with open('demo.txt','w') as f:
    a=csv.writer(f)
    a.writerow(header)
    a.writerows(rows)

In [83]:
with open('demo.txt','r') as f:
    b=csv.DictReader(f)
    for row in b:
        if row['level']=='Good':
            print(row)

{'language': 'Python', 'level': 'Good'}

26) Python Program to create new Dictionary from the Multiple list using list comprehension 	
	names  = ['Harry', 'Hermione', 'Ron']
	houses = ['Gryffindor', 'Gryffindor', 'Gryffindor']
	pets   = ['Hedwig', 'Crookshanks', 'Scabbers']
	wands  = ['Holly, phoenix feather', 'Vine wood, dragon heartstring', 'Willow, unicorn hair']

	-->output  
	{
	'Harry': {
		'house': 'Gryffindor',
		'pet': 'Hedwig',
		'wand': 'Holly, phoenix feather'},
	'Hermione': {
		'house': 'Gryffindor',
		'pet': 'Crookshanks',
		'wand': 'Vine wood, dragon heartstring'},
	'Ron': {
		'house': 'Gryffindor',
		'pet': 'Scabbers',
		'wand': 'Willow, unicorn hair'}
	}

In [84]:
names = ['Harry', 'Hermione', 'Ron']
houses = ['Gryffindor', 'Gryffindor', 'Gryffindor']
pets = ['Hedwig', 'Crookshanks', 'Scabbers']
wands = ['Holly, phoenix feather', 'Vine wood, dragon heartstring', 'Willow, unicorn hair']
res={name:{'house':house,'pet':pet,'wand':wand} for name,house,pet,wand in zip(names,houses,pets,wands)}
print(res)

{'Harry': {'house': 'Gryffindor', 'pet': 'Hedwig', 'wand': 'Holly, phoenix feather'}, 'Hermione': {'house': 'Gryffindor', 'pet': 'Crookshanks', 'wand': 'Vine wood, dragon heartstring'}, 'Ron': {'house': 'Gryffindor', 'pet': 'Scabbers', 'wand': 'Willow, unicorn hair'}}