PYTHON TEST - 1

1) Program to print a multiplication table.

In [1]:
num=int(input("Enter the number:")) #getting input from the user
for i in range(1,11): #using loop and setting the range
    mul=num*i #multiply operation is done
    print(f"{num}*{i}={mul}") #printing the output

5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

Alternative method 1

In [5]:
num = int(input("Enter the number: "))
count = 0
while count < 11:
    mul = num * count
    print(f"{num} * {count} = {mul}")
    count = count + 1

5 * 0 = 0
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

Alternative Method 2

In [6]:
def mul(a,b):
    a=int(input("Enter the number 1:"))
    b=int(input("Enter the number 2:"))
    multiply=a*b
    return multiply

In [9]:
mul('a','b')

24

2) List2 = [3,6,9,1,5,7] .Find the length of the list without using any built in functions.

In [15]:
List2=[3,6,9,1,5,7]  #list declaring
length=0  #assigning a variable-length to find the length of the elements in the list
for i in List2: #fetching element from the list using loop
    length += 1 #incrementing length
print(length) #printing the output

6

Alternative method

In [1]:
from collections import Counter

In [7]:
List2=[3,6,9,1,5,7]
length=sum(Counter(List2).values())
print(length)

6

3) List1=[22,45,”python”,21,”sample”] . 
Add 20 in the above list and sum all the integers in the list without using the sum function.

In [29]:
List1=[22,45,"python",21,"sample"] #list declaring
List1.append(20) #adding 20 to the given list using 'append' method
print(List1) #printing list1 to see whether the 20 is added to the list

[22, 45, 'python', 21, 'sample', 20]

In [32]:
sum=0 #declaring a variable sum
for i in List1: #fetching element from the list
    if type(i)==int: #passing condition that the fetched element must be integer
        sum=sum+i #storing the elements in the 'sum' variable
print(sum) #printing the output

108

Alternative method

In [35]:
List1=[22,45,"python",21,"sample"]
List1.append(20)
a=[x for x in List1 if type(x)==int]
sum=0
for i in a:
    sum=sum+i
print(sum)

108

4) Find the given output, from the following dictionaries
     set1 = {'Ajith' : 12, 'Balu' : 20, 'chinnu' : 10 } 
     set2 = {'David' : 16, 'Eshwar' : 08, 'Frank' : 18} 
     output = [08,10,12,16,18,20]

In [37]:
set1 = {'Ajith' : 12, 'Balu' : 20, 'chinnu' : 10 }
set2 = {'David' : 16, 'Eshwar' :8, 'Frank' : 18}  #declaring the dictionaries/ input

In [42]:
a=set1|set2 #merging both the dictionaries using union
val=dict.values(a) #storing the values of the dictionary in a variable
print(sorted(val)) #print the output

[8, 10, 12, 16, 18, 20]

Alternative method

In [1]:
set1 = {'Ajith' : 12, 'Balu' : 20, 'chinnu' : 10 }
set2 = {'David' : 16, 'Eshwar' :8, 'Frank' : 18}

set3=list(set1.values())+list(set2.values())
# print(set3)
set3.sort()
print(set3)

[8, 10, 12, 16, 18, 20]

Alternative method 2

In [12]:
set1 = {'Ajith' : 12, 'Balu' : 20, 'chinnu' : 10 }
set2 = {'David' : 16, 'Eshwar' :8, 'Frank' : 18}

a=set1|set2
output=[x for x in a.values()]
print(sorted(output))

[8, 10, 12, 16, 18, 20]

5) solve the following problems
(i)Remove the first value of tuples from list1... 
list1 = [12,1,3,34,5,6,78,(12,34),323,545,'call',23,'cut',('end','call'),2111,43]

In [70]:
list1 = [12,1,3,34,5,6,78,(12,34),323,545,'call',23,'cut',('end','call'),2111,43] #declaring the list
for i in range(len(list1)): #fetching element from the list
    if type(list1[i])==tuple: #passing the condition that the elements of the list should be tuple
        r=list1[i][1:] #storing the elements in a variable, only storing the needed elements from the tuple
        list1[i]=r #passing the stored elements from the variable to the list itself
print(list1) #printing the output

[12, 1, 3, 34, 5, 6, 78, (34,), 323, 545, 'call', 23, 'cut', ('call',), 2111, 43]

Alternative way

In [13]:
list1 = [12,1,3,34,5,6,78,(12,34),323,545,'call',23,'cut',('end','call'),2111,43]
output=[x[1:] if type(x)==tuple else x for x in list1]
print(output)

[12, 1, 3, 34, 5, 6, 78, (34,), 323, 545, 'call', 23, 'cut', ('call',), 2111, 43]

6) l=[1,2,3,4]
    s=["s","d","w"]
    Output: {'s': [1, 2, 3, 4], 'd': [1, 2, 3, 4], 'w': [1, 2, 3, 4]}

In [81]:
l=[1,2,3,4] 
s=["s","d","w"]  #declaring list
details=dict()   #declaring the dictionary in a variable
details.fromkeys(s,l) #passing elements to the declared 'details' variable using 'fromkeys' so that it stores key with values

{'s': [1, 2, 3, 4], 'd': [1, 2, 3, 4], 'w': [1, 2, 3, 4]}

Alternative method

In [31]:
l=[1,2,3,4]
s=["s","d","w"]
d={}
for i in s:
    d[i]=l
print(s)

['s', 'd', 'w']


7) Write a loop to display a number series with 20 numbers, from 7 and the difference between them is 8, and to filter out three middle values in the series. (The number series should have 23 numbers, starting from 7 and the difference between them is 8, but without the middle values of 11, 12, 13 sequence of numbers).

In [85]:
res=[] #declaring an empty list
for i in range(7,185,8): #setting range from 7 to 185 with the difference as 8
    res.append(i) #addding those elements to the empty list
print(res) #printing that list

[7, 15, 23, 31, 39, 47, 55, 63, 71, 79, 87, 95, 103, 111, 119, 127, 135, 143, 151, 159, 167, 175, 183]

In [86]:
del res[10] #deleting the 10th position element from the list
del res[10] #deletes the 11th position elemnt which is now in 10th position
del res[10] #deletes the 12th position element which is now in 10th position
print(res) #printing the output

[7, 15, 23, 31, 39, 47, 55, 63, 71, 79, 111, 119, 127, 135, 143, 151, 159, 167, 175, 183]

Alternative method 1

In [88]:
res=[i for i in range(7,185,8)]
res=res[:10]+res[13:]
print(res)

[7, 15, 23, 31, 39, 47, 55, 63, 71, 79, 111, 119, 127, 135, 143, 151, 159, 167, 175, 183]

Alternative method 2

In [92]:
res=[]
num=7
for i in range(23):
    res.append(num)
    num+=8
print(res)

[7, 15, 23, 31, 39, 47, 55, 63, 71, 79, 87, 95, 103, 111, 119, 127, 135, 143, 151, 159, 167, 175, 183]

In [93]:
res=res[:10]+res[13:]
print(res)

[7, 15, 23, 31, 39, 47, 55, 63, 71, 79, 111, 119, 127, 135, 143, 151, 159, 167, 175, 183]

8)Print Prime numbers up to the given input.

In [34]:
num=int(input("Enter num:")) #getting number from the user
for i in range(2,num+1): #setting the range from 2 to n+1
        c=0  #declaring a variable 'c'
        for j in range(2,i): #getting elements from the range 2 to 'i' using nested for loop
            if i%j==0: #checking that the elements i is divisible by j
                c+=1 #if yes incrementing it to the variable
                break #terminating the inner loop when the condition is successfully passed 
        if c==0: #if there is no factors other than 0 
            print(i) #printing the output

2
3
5
7
11
13
17
19

9) Write a Python program to write a text file and read that file.

In [24]:
with open("demo.txt","w") as file: #opening the file in write mode
    file.write("Swetha is practicing python") #writing the statement into the file

In [25]:
with open("demo.txt","r") as f: #opening the file in read mode
    f1=f.read() #declaring variable to read the content of the file
    print(f1) #printing the content of the file

Swetha is practicing python

10)Pyhton program to calculate the sum of three given numbers,
	if the values are equal then return its cube of their number.

In [1]:
val1=int(input("Enter the number1:"))
val2=int(input("Enter number2:"))
val3=int(input("Enter number3:")) #getting three numbers from the user
if val1==val2==val3: #passing condition to check whether three numbers are equal
    print(val1**3) #True, printing the cube of the numbers
else: #if the three numbers are not equal
    print(val1+val2+val3) #printing the sum of the three numbers

1728

Alternative method

In [5]:
def func():
    if val1==val2==val3:
        print(val1**3)
    else:
        print(val1+val2+val3)

In [6]:
val1=int(input("Enter the number1:"))
val2=int(input("Enter number2:"))
val3=int(input("Enter number3:"))
func()

1728

11)Python Program to find Leap year.

In [8]:
year=int(input("Enter the year:")) #getting the year from the user
if year%4==0 and year%100!=0: #checking if the year is divisible by 4 and not by 100
    print(f"{year} is a leap year") #printing that year as leap year
elif year%400==0 : #checking if the year is divisible by 400
    print(f"{year} is a leap year") #printing the year as leap year
else:  #if not
    print(f"{year} is not a leap year") #printing that the year given is not a leap year

2000 is a leap year

Alternative method

In [17]:
def leap_year():
    if year%4==0 and (year%400==0 or year%100!=0):
        print(f"{year} is a leap year")
    else:
        print(f"{year} is not a leap year")

In [18]:
year=int(input("Enter the year:"))
leap_year()

2000 is a leap year

Alternative method 2

In [19]:
leap_year=lambda year:(year%4==0)and (year%400==0 or year%100!=0)
year=int(input("Enter the year:"))
if leap_year(year):
    print("It is a leap year")
else:
    print("It is not a leap year")

It is a leap year

12)Python program to Print unique values in the list.
	list=[1,2,2,3,3,3,4,4,5,5]
	output=[1,2,,3,4,5]

In [21]:
list1=[1,2,2,3,3,3,4,4,5,5] #declaring the list
output=set(list1) #removing the duplicates using the set and storing it in a variable
print(list(output)) #printing the output

[1, 2, 3, 4, 5]

Alternative method

In [28]:
list1=[1,2,2,3,3,3,4,4,5,5]
unique=[]
for i in list1:
    if i not in unique:
        unique.append(i)
print(unique)

[1, 2, 3, 4, 5]

Alternative method 2

In [31]:
list1=[1,2,2,3,3,3,4,4,5,5]
unique=list(dict.fromkeys(list1))
print(unique)

[1, 2, 3, 4, 5]

13)Find all prime number in an interval of (900,1000).

In [32]:
for i in range(900,1001): #fetching the elements from the range 900 to 1000
    if i>1: #checking the fetched element is greater than 1
        for j in range(2,i): #fetching another set of elements from already fetched element with the range from 2 to i 
            if i%j==0: #checking if the elemnt fetched i and j is divisible by each other
                break #True, then terminate the iteration
        else: #if not
            print(i)   #printing the required output

907
911
919
929
937
941
947
953
967
971
977
983
991
997

Alternative method

In [4]:
for i in range(900,1000):
    count=0
    for j in range(2,i):
        if i%j==0:
            count+=1
            break
    if count==0:
        print(i)

907
911
919
929
937
941
947
953
967
971
977
983
991
997

14)Find the given output from the input using slicing
	Input=('a','b','c','d','e','f','g','h')
	output=('a', 'c', 'e')

In [33]:
Input=('a','b','c','d','e','f','g','h') #declaring the input
Input[0:5:2] #getting the required output using slicing

('a', 'c', 'e')

Alternative method

In [10]:
Input=('a','b','c','d','e','f','g','h')
output=tuple(filter(lambda x:Input.index(x)%2==0,Input))
print(output[:-1:1])

('a', 'c', 'e')

15)Write a String Formatting program 
	list=["apple","ORANGE","mango"]
	OUTPUT= result 1 is APPLE
		result 2 is orange
		result 3 is Mango

In [43]:
list1=["apple","ORANGE","mango"] #declaring the list
print("result 1 is",list1[0].upper()) #providing uppercase for the first element of the list
print("result 2 is",list1[1].lower()) #providing lowercase for the second element of the list
print("result 3 is",list1[2].title()) #providing titlecase for the last element of the list

result 1 is APPLE
result 2 is orange
result 3 is Mango

Alternative method

In [16]:
list1=["apple","ORANGE","mango"]
for i in range(len(list1)):
    print(f"result {i+1} is",list1[i].swapcase())

result 1 is APPLE
result 2 is orange
result 3 is MANGO

16)Python program to merge two python dictionaries

In [51]:
set1 = {'Ajith' : 12, 'Balu' : 20, 'chinnu' : 10 }
set2 = {'David' : 16, 'Eshwar' :8, 'Frank' : 18} #declaring two set of dictionaries
output=set1|set2 #merging two dictionaries
print(output) #printing the output of merged dictionaries

{'Ajith': 12, 'Balu': 20, 'chinnu': 10, 'David': 16, 'Eshwar': 8, 'Frank': 18}

Alternative method

In [59]:
def merge_dict(set1,set2):
    return (set1.update(set2))

In [65]:
set1 = {'Ajith' : 12, 'Balu' : 20, 'chinnu' : 10 }
set2 = {'David' : 16, 'Eshwar' :8, 'Frank' : 18}
print(merge_dict(set1,set2))
print(set1)

None
{'Ajith': 12, 'Balu': 20, 'chinnu': 10, 'David': 16, 'Eshwar': 8, 'Frank': 18}

Alternative method 2

In [13]:
set1 = {'Ajith' : 12, 'Balu' : 20, 'chinnu' : 10 }
set2 = {'David' : 16, 'Eshwar' :8, 'Frank' : 18}
for key,values in set2.items():
    set1[key]=values
print(set1)

{'Ajith': 12, 'Balu': 20, 'chinnu': 10, 'David': 16, 'Eshwar': 8, 'Frank': 18}

17)Python program to concatenate all Elements of a List into a String Using list comprehension
	Input=["All","the","best"]
	output= All the best.

In [66]:
Input=["All","the","best"] #declaring the input
a= ' '.join([x for x in Input ]) #joining the elements of the list using join() method
print(a) #printing the output

All the best

Alternative method

In [15]:
Input=["All","the","best"]
print(' '.join(Input))

All the best

18)write a factorial program.

In [67]:
n=int(input("Enter the number:")) #getting the input from the user
fact=1 #declaring a variable 'fact' as 1
for i in range(1,n+1): #fetching elements from the range 1 till n+1
    fact *= i #multiplying the elements of fact with the elements of i
print(fact) #printing the output

120

Alternative method

In [17]:
def fact(n):
    if n==0:
        return 1
    else:
        return n*fact(n-1)
print(fact(5))

120

19)Python program to find file exist or not.

In [ ]:
import os #importing the 'OS' module
path='' #specifying the path
print(os.path.exists(path)) #checking whether the path exists or not

20)Write a Python program to reverse a string without using slicing.

In [68]:
str1=input("Enter the string:") #fetching the string from the user
str2="" #declaring a empty string
for i in str1: #fetching the each element from the string 
    str2=i+str2 #storing the fetched element from the string to the empty declared string in a reverse order
print(str2) #printing the output

ahtewS

Alternative method

In [23]:
str1=input("Enter the string:")
str2=""
for i in range(len(str1)-1,-1,-1):
    str2+=str1[i]
print(str2)

ahtewS

21) Double the each value in the given dictionary by using comprehension method
	dict1 = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
	-->output= {'a': 2, 'b': 4, 'c': 6, 'd': 8, 'e': 10}

In [40]:
dict1 = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5} #declaring the dictionary
dict2=dict1.keys() #storing the keys of the dictionary in a variable
a={i*2 for i in dict1.values()} #using comprehension multiplying the values of dictionary x2
dict(zip(dict2,a)) #printing the keys and multiplied values together using 'zip()' method

{'a': 2, 'b': 4, 'c': 6, 'd': 8, 'e': 10}

Alternative method

In [53]:
dict1 = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
dict_key=dict1.keys()
output={i:dict1[i]*2 for i in dict_key}
print(output)

{'a': 2, 'b': 4, 'c': 6, 'd': 8, 'e': 10}

22) Find the given output from the input 								- 4
	list1=[1,2,2,3,3,3,4,4,4,4,4,5,5,5,5,5]
	-->Output={1:1,2:2,3:3,4:4.5:5}

In [66]:
list1=[1,2,2,3,3,3,4,4,4,4,4,5,5,5,5,5] #declaring the list
count={} #declaring an empty dictionary 
for i in list1: #fetching the elements of the list using loop
    if i in count: #checking whether the fetched element is present in the empty dictionary
        count[i]+=1 #if present increment the count of that element
    else: #if not
        count[i]=1 #initializing the count of that element to 1
print(count) #printing the output

{1: 1, 2: 2, 3: 3, 4: 5, 5: 5}

Alternative method

In [68]:
list1=[1,2,2,3,3,3,4,4,4,4,4,5,5,5,5,5]
output={x:list1.count(x) for x in list1}
print(output)

{1: 1, 2: 2, 3: 3, 4: 5, 5: 5}

23) write a factorial program using recursive function

In [17]:
def factorial(n): #defining a function
    if n==0: #checking whether the number is equal to 0
        return 1 #if yes, returning 1
    else: #if not
        return n*factorial(n-1) #returning the factorial of that particular number

In [19]:
factorial(5) #calling the function

120

24) Write a program without using string formatting 							
	directories = ['root', 'home', 'user', 'documents']
	-->output=root/home/user/documents

In [76]:
directories=["root","home","user","documents"] #declaring the list
output="/".join(directories) #joining the elements using join method
print(output) #printing the output

root/home/user/documents

Alternative method

In [80]:
directories=["root","home","user","documents"]
output=""
for i in directories:
    output+= i+'/'
print(output.rstrip('/'))

root/home/user/documents

25) Create a csv file with following content and  
Read the CSV file and print only those rows that has level = Good 					- 8
		
		Language,level
		Python,Good
		Sql,Intermediate
		Angular,Basics

In [21]:
import csv #importing csv

In [22]:
header=["language","level"] 
rows=[["Python","Good"],["SQL","Intermediate"],["Angular","Basics"]] #declaring the required inputs as header and rows
with open('demo.csv','w') as f: #opening the file in write mode
    a=csv.writer(f) #writing into the file
    a.writerow(header) #writing the header to the file
    a.writerows(rows) #writing the rows to the file

In [23]:
with open('demo.txt','r') as f: #opening the file inread mode
    b=csv.DictReader(f) #reading the file in dictionary using
    for row in b: #extracting the row in file
        if row['level']=='Good': #checking the row level which is equal to 'Good'
            print(row) #printing that particular row

{'language': 'Python', 'level': 'Good'}

26) Python Program to create new Dictionary from the Multiple list using list comprehension 	
	names  = ['Harry', 'Hermione', 'Ron']
	houses = ['Gryffindor', 'Gryffindor', 'Gryffindor']
	pets   = ['Hedwig', 'Crookshanks', 'Scabbers']
	wands  = ['Holly, phoenix feather', 'Vine wood, dragon heartstring', 'Willow, unicorn hair']

	-->output  
	{
	'Harry': {
		'house': 'Gryffindor',
		'pet': 'Hedwig',
		'wand': 'Holly, phoenix feather'},
	'Hermione': {
		'house': 'Gryffindor',
		'pet': 'Crookshanks',
		'wand': 'Vine wood, dragon heartstring'},
	'Ron': {
		'house': 'Gryffindor',
		'pet': 'Scabbers',
		'wand': 'Willow, unicorn hair'}
	}

In [84]:
names = ['Harry', 'Hermione', 'Ron']
houses = ['Gryffindor', 'Gryffindor', 'Gryffindor']
pets = ['Hedwig', 'Crookshanks', 'Scabbers'] 
wands = ['Holly, phoenix feather', 'Vine wood, dragon heartstring', 'Willow, unicorn hair'] #declaring the lists
res={name:{'house':house,'pet':pet,'wand':wand} for name,house,pet,wand in zip(names,houses,pets,wands)} #using comprehension and zip method print the required output 
print(res)

{'Harry': {'house': 'Gryffindor', 'pet': 'Hedwig', 'wand': 'Holly, phoenix feather'}, 'Hermione': {'house': 'Gryffindor', 'pet': 'Crookshanks', 'wand': 'Vine wood, dragon heartstring'}, 'Ron': {'house': 'Gryffindor', 'pet': 'Scabbers', 'wand': 'Willow, unicorn hair'}}