PYTHON TEST - 1

1) Program to print a multiplication table.

In [1]:
num=int(input("Enter the number:"))
for i in range(1,11):
    mul=num*i
    print(f"{num}*{i}={mul}")

5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

Alternative method 1

In [5]:
num = int(input("Enter the number: "))
count = 0
while count < 11:
    mul = num * count
    print(f"{num} * {count} = {mul}")
    count = count + 1

5 * 0 = 0
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

Alternative Method 2

In [6]:
def mul(a,b):
    a=int(input("Enter the number 1:"))
    b=int(input("Enter the number 2:"))
    multiply=a*b
    return multiply

In [9]:
mul('a','b')

24

2) List2 = [3,6,9,1,5,7] .Find the length of the list without using any built in functions.

In [15]:
List2=[3,6,9,1,5,7]
length=0
for i in List2:
    length += 1
print(length)

6

Alternative method

In [26]:
def length_list():
    List2=[3,6,9,1,5,7]
    count=0
    for i in List2:
        count=count+1
    print(count)

In [27]:
length_list()

6

3) List1=[22,45,”python”,21,”sample”] . 
Add 20 in the above list and sum all the integers in the list without using the sum function.

In [29]:
List1=[22,45,"python",21,"sample"]
List1.append(20)
print(List1)

[22, 45, 'python', 21, 'sample', 20]

In [32]:
sum=0
for i in List1:
    if type(i)==int:
        sum=sum+i
print(sum)

108

Alternative method

In [35]:
List1=[22,45,"python",21,"sample"]
List1.append(20)
a=[x for x in List1 if type(x)==int]
sum=0
for i in a:
    sum=sum+i
print(sum)

108

4) Find the given output, from the following dictionaries
     set1 = {'Ajith' : 12, 'Balu' : 20, 'chinnu' : 10 } 
     set2 = {'David' : 16, 'Eshwar' : 08, 'Frank' : 18} 
     output = [08,10,12,16,18,20]

In [37]:
set1 = {'Ajith' : 12, 'Balu' : 20, 'chinnu' : 10 }
set2 = {'David' : 16, 'Eshwar' :8, 'Frank' : 18}

In [42]:
a=set1|set2
val=dict.values(a)
print(sorted(val))

[8, 10, 12, 16, 18, 20]

Alternative method

In [55]:
set1 = {'Ajith' : 12, 'Balu' : 20, 'chinnu' : 10 }
set2 = {'David' : 16, 'Eshwar' :8, 'Frank' : 18}

a=set1|set2
output=[x for x in a.values()]
print(sorted(output))

[8, 10, 12, 16, 18, 20]

5) solve the following problems
(i)Remove the first value of tuples from list1... 
list1 = [12,1,3,34,5,6,78,(12,34),323,545,'call',23,'cut',('end','call'),2111,43]

In [70]:
list1 = [12,1,3,34,5,6,78,(12,34),323,545,'call',23,'cut',('end','call'),2111,43]
for i in range(len(list1)):
    if type(list1[i])==tuple:
        r=list1[i][1:]
        list1[i]=r
print(list1)

[12, 1, 3, 34, 5, 6, 78, (34,), 323, 545, 'call', 23, 'cut', ('call',), 2111, 43]

Alternative way

In [77]:
list1 = [12,1,3,34,5,6,78,(12,34),323,545,'call',23,'cut',('end','call'),2111,43]
output=[x[1:] if type(x)==tuple else x for x in list1]
print(output)

[12, 1, 3, 34, 5, 6, 78, (34,), 323, 545, 'call', 23, 'cut', ('call',), 2111, 43]

6) l=[1,2,3,4]
    s=["s","d","w"]
    Output: {'s': [1, 2, 3, 4], 'd': [1, 2, 3, 4], 'w': [1, 2, 3, 4]}

In [81]:
l=[1,2,3,4]
s=["s","d","w"]
details=dict()
details.fromkeys(s,l)

{'s': [1, 2, 3, 4], 'd': [1, 2, 3, 4], 'w': [1, 2, 3, 4]}

Alternative method

In [84]:
l=[1,2,3,4]
s=["s","d","w"]
output={i:l for i in s}
print(output)

{'s': [1, 2, 3, 4], 'd': [1, 2, 3, 4], 'w': [1, 2, 3, 4]}


7) Write a loop to display a number series with 20 numbers, from 7 and the difference between them is 8, and to filter out three middle values in the series. (The number series should have 23 numbers, starting from 7 and the difference between them is 8, but without the middle values of 11, 12, 13 sequence of numbers).

In [85]:
res=[]
for i in range(7,185,8):
    res.append(i)
print(res)

[7, 15, 23, 31, 39, 47, 55, 63, 71, 79, 87, 95, 103, 111, 119, 127, 135, 143, 151, 159, 167, 175, 183]

In [86]:
del res[10]
del res[10]
del res[10]
print(res)

[7, 15, 23, 31, 39, 47, 55, 63, 71, 79, 111, 119, 127, 135, 143, 151, 159, 167, 175, 183]

Alternative method 1

In [88]:
res=[i for i in range(7,185,8)]
res=res[:10]+res[13:]
print(res)

[7, 15, 23, 31, 39, 47, 55, 63, 71, 79, 111, 119, 127, 135, 143, 151, 159, 167, 175, 183]

Alternative method 2

In [92]:
res=[]
num=7
for i in range(23):
    res.append(num)
    num+=8
print(res)

[7, 15, 23, 31, 39, 47, 55, 63, 71, 79, 87, 95, 103, 111, 119, 127, 135, 143, 151, 159, 167, 175, 183]

In [93]:
res=res[:10]+res[13:]
print(res)

[7, 15, 23, 31, 39, 47, 55, 63, 71, 79, 111, 119, 127, 135, 143, 151, 159, 167, 175, 183]

8)Print Prime numbers up to the given input.

In [22]:
def prime(n):
    n=50
    for i in range(2,n):
       if (n%i==0):
           break
    return True

9) Write a Python program to write a text file and read that file.

In [24]:
with open("demo.txt","w") as file:
    file.write("Swetha is practicing python")

In [25]:
with open("demo.txt","r") as f:
    f1=f.read()
    print(f1)

Swetha is practicing python

10)Pyhton program to calculate the sum of three given numbers,
	if the values are equal then return its cube of their number.

In [1]:
val1=int(input("Enter the number1:"))
val2=int(input("Enter number2:"))
val3=int(input("Enter number3:"))
if val1==val2==val3:
    print(val1**3)
else:
    print(val1+val2+val3)

1728

Alternative method

In [5]:
def func():
    if val1==val2==val3:
        print(val1**3)
    else:
        print(val1+val2+val3)

In [6]:
val1=int(input("Enter the number1:"))
val2=int(input("Enter number2:"))
val3=int(input("Enter number3:"))
func()

1728

11)Python Program to find Leap year.

In [16]:
year=int(input("Enter the year:"))
if year%4==0 and year%100!=0:
    print(f"{year} is a leap year")
elif year%400==0 and year%100==0:
    print(f"{year} is a leap year")
else:
    print(f"{year} is not a leap year")

2020 is a leap year

Alternative method

In [17]:
def leap_year():
    if year%4==0 and (year%400==0 or year%100!=0):
        print(f"{year} is a leap year")
    else:
        print(f"{year} is not a leap year")

In [18]:
year=int(input("Enter the year:"))
leap_year()

2000 is a leap year

Alternative method 2

In [19]:
leap_year=lambda year:(year%4==0)and (year%400==0 or year%100!=0)
year=int(input("Enter the year:"))
if leap_year(year):
    print("It is a leap year")
else:
    print("It is not a leap year")

It is a leap year

12)Python program to Print unique values in the list.
	list=[1,2,2,3,3,3,4,4,5,5]
	output=[1,2,,3,4,5]

In [21]:
list1=[1,2,2,3,3,3,4,4,5,5]
output=set(list1)
print(list(output))

[1, 2, 3, 4, 5]

Alternative method

In [28]:
list1=[1,2,2,3,3,3,4,4,5,5]
unique=[]
for i in list1:
    if i not in unique:
        unique.append(i)
print(unique)

[1, 2, 3, 4, 5]

Alternative method 2

In [31]:
list1=[1,2,2,3,3,3,4,4,5,5]
unique=list(dict.fromkeys(list1))
print(unique)

[1, 2, 3, 4, 5]

13)Find all prime number in an interval of (900,1000).

In [32]:
for i in range(900,1001):
    if i>1:
        for j in range(2,i):
            if i%j==0:
                break
        else:
            print(i)

907
911
919
929
937
941
947
953
967
971
977
983
991
997

14)Find the given output from the input using slicing
	Input=('a','b','c','d','e','f','g','h')
	output=('a', 'c', 'e')

In [33]:
Input=('a','b','c','d','e','f','g','h')
Input[0:5:2]

('a', 'c', 'e')

15)Write a String Formatting program 
	list=["apple","ORANGE","mango"]
	OUTPUT= result 1 is APPLE
		result 2 is orange
		result 3 is Mango

In [43]:
list1=["apple","ORANGE","mango"]
print("result 1 is",list1[0].upper())
print("result 2 is",list1[1].lower())
print("result 3 is",list1[2].title())

result 1 is APPLE
result 2 is orange
result 3 is Mango

In [48]:
list1=["apple","ORANGE","mango"]
for i,list1 in enumerate(list1):
    if (i,list1==0):
        print(list1)

apple
ORANGE
mango

16)Python program to merge two python dictionaries

In [51]:
set1 = {'Ajith' : 12, 'Balu' : 20, 'chinnu' : 10 }
set2 = {'David' : 16, 'Eshwar' :8, 'Frank' : 18}
output=set1|set2
print(output)

{'Ajith': 12, 'Balu': 20, 'chinnu': 10, 'David': 16, 'Eshwar': 8, 'Frank': 18}

Alternative method

In [59]:
def merge_dict(set1,set2):
    return (set1.update(set2))

In [65]:
set1 = {'Ajith' : 12, 'Balu' : 20, 'chinnu' : 10 }
set2 = {'David' : 16, 'Eshwar' :8, 'Frank' : 18}
print(merge_dict(set1,set2))
print(set1)

None
{'Ajith': 12, 'Balu': 20, 'chinnu': 10, 'David': 16, 'Eshwar': 8, 'Frank': 18}

17)Python program to concatenate all Elements of a List into a String Using list comprehension
	Input=["All","the","best"]
	output= All the best.

In [66]:
Input=["All","the","best"]
a= ' '.join([x for x in Input ])
print(a)

All the best

18)write a factorial program.

In [67]:
n=int(input("Enter the number:"))
fact=1
for i in range(1,n+1):
    fact *= i
print(fact)

120

19)Python program to find file exist or not.

20)Write a Python program to reverse a string without using slicing.

In [68]:
str1=input("Enter the string:")
str2=""
for i in str1:
    str2=i+str2
print(str2)

ahtewS